@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  background-image: url('/flogin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  background: #ffffff;
  border-radius: 40px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15); /* profundidad en vez de borde negro */
  overflow: hidden;
  width: 850px;
  max-width: 95%;
}

.login-box {
  padding: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h2 {
  color: #661a1a;
  margin-bottom: 15px;
  font-size: 30px;
}

p {
  color: #7a6565;
  margin-bottom: 20px;
  font-size: 14px;
}

.input-group {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #5c3b3b;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #c9b7af;
  border-radius: 8px;
  font-size: 15px;
  background-color: #fffaf7;
}

.login-btn {
  background: linear-gradient(to right, #8a2424, #661a1a);
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  box-shadow: 0 4px 15px rgba(138, 36, 36, 0.3);
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: linear-gradient(to right, #742020, #500e0e);
}

.login-links {
  margin-top: 15px;
  font-size: 14px;
  font-family: 'Playfair Display', serif;
  color: #a89372; /* beige suave */
}

.login-links a {
  color: #968366;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-links a:hover {
  text-decoration: underline;
  color: #968366;
}

.login-box {
  margin-top: 15px;
  font-size: 14px;
  font-family: 'Playfair Display', serif;
  color: #a89372; /* beige suave */
}

.login-box a {
  color: #968366;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-box a:hover {
  text-decoration: underline;
  color: #968366;
}

.login-box p {
  color: #968366;
}


.forgot-password {
  margin-top: 10px;
  text-align: center;
}

.forgot-password a {
  color: #968366;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  font-size: 13px;
}

.forgot-password a:hover {
  text-decoration: underline;
  color: #968366;
}

.image-box {
  width: 50%;
  height: 100%;
  background-color: #968366;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}
