.principal-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.menu, .right-panel {
  background-color: #7c729628; /* Color pastel morado */
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.menu {
  width: 250px;
  left: 0;
  height: 100%;
}

.right-panel {
  width: 250px;
  right: 0;
  height: 100%;
}

.menu h2, .right-panel h3 {
  color: #555;
  margin-bottom: 15px;
}

.menu ul, .right-panel .extra-functions ul {
  list-style-type: none;
  padding: 0;
}

.menu li, .right-panel .extra-functions li {
  margin: 10px 0;
}

.menu a, .right-panel .extra-functions a {
  text-decoration: none;
  color: #323136c5; /* Color gris oscuro */
  font-weight: bold;
  transition: color 0.3s ease; /* Suaviza el cambio de color */
}

.menu a:hover, .right-panel .extra-functions a:hover {
  color: #555; /* Mantiene el color gris oscuro al hacer hover */
}

.menu a:focus, .right-panel .extra-functions a:focus {
  color: #555; /* Mantiene el color al enfocar (para evitar el azul del navegador) */
}

.content {
  flex-grow: 1;
  margin-left: 270px; /* Desplazar para dar espacio al menú */
  margin-right: 270px; /* Desplazar para dar espacio al buscador */
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  height: 600px; /* Fijamos una altura */
  overflow: auto; /* Permite el desplazamiento si el contenido se excede */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-top: 10px;
  word-wrap: break-word; /* Asegura que el texto no se desborde */
}

.content h1 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  white-space: normal; /* Permite que el texto se ajuste a párrafos */
  width: 100%; /* Ocupa todo el espacio disponible */
}

.right-panel .search-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.right-panel .extra-functions h3 {
  font-size: 18px;
  color: #333;
}

.right-panel .extra-functions ul {
  list-style-type: none;
  padding: 0;
}

.right-panel .extra-functions li {
  margin: 10px 0;
}

.right-panel .extra-functions a {
  text-decoration: none;
  color: #202025af;
  font-weight: bold;
  transition: color 0.3s ease; /* Suaviza el cambio de color */
}

.right-panel .extra-functions a:hover {
  color: #555; /* Cambia el color al pasar el ratón */
}
