
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Podés agregar estilos personalizados abajo */
body {
  font-family: 'Arial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdf6f0;
}
body {
  background-image: url('/flogin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
